*{
    margin: 0%;
    padding: 0;
}
body{
background-image: linear-gradient( red,black);
background-size: 100% 100%;
background-attachment: fixed;
background-repeat: repeat-y;
background-attachment: fixed;
display: flex;
text-align: center;
justify-content: center;
}
.container{
    margin: 250px;
    border: 3px solid black;
    background-color: brown;
    width: 100px;
    height: 20px;
    text-align: center;
    display: flex;
    padding: 30px;
}
.plus{
    margin-bottom: 10px;
    font-size: 16px;
    border: solid black 3px;
    padding: 10px;
    background:orangered;
    color: black;
    font-weight: 700;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-bottom: 5px;
}
.num{
    margin-bottom: 10px;
    border: solid black 3px;
    padding: 10px;
    background: orange;
    color: black;
    font-weight: 700;
    width: 50px;
    height: 20px;
    text-align: center;
}
.minus{
    margin-bottom: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    border: solid black 3px;
    padding: 10px;
    background:pink;
    color: black;
    font-weight: 700;
}