*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}
.open{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(purple,blue);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close{
    width: 300px;
    height: 200px;
    background-color: white;
}
h3{
    background: yellow;
    color: black;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    margin-right: 5px;
}
form{
    background: white;
    text-align: center;
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
    background: tan;
    border-radius: 10px;
    margin-top: 8px;
    
    text-align: center;
}
::placeholder{
    color: black;
    font-weight: 200;
    text-decoration: solid;
    
}
::placeholder:hover{
    color: blue;
}
button{
    margin-left: 40px;
    margin-top: 10px;
    padding: 5px;
    background: black;
    color: yellow;
    border-radius: 10px;
}
button:hover{
    color: red;
}